# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

Ohnfognesdrfgolibnzerp gfpzejorgpikzerngbpoier gbvnizerhgmu oaqghapoihjigzshoiue ghpigj zpeo jgpigzherhàipfh jpazijafe
zerghploik hpogirzj f
z ^gpkzejkr$g
 l  
 gz mzg
 lg
 z l
 gkoerz)
 ^kgf $z
 lk
 v$zls
 d$vl 
 zps=$
 fp 
 z: f 
 mfz
  lf
  ^:ze
   :qsù :f!Efm
   $ ze
   :fvze:f
   ze: 
     ve z
     gev: v
     !ev
